<div class="col s12">
  <a href="/movies/list" class="breadcrumb blue-text">Movies</a>
  <a class="breadcrumb blue-text">Edit</a>

  <h3>Edit movie</h3>
    <form class="col s12" method="post" action="/movies/update/<%= movie.id %>">
      <div class="row">
        <div class="input-field col s12">
          <label for="title">Title</label>
          <input type="text" name="title" value="<%= movie.title %>">
        </div>
        <div class="input-field col s12">
          <label for="body">body</label>
          <input type="text" name="body" value="<%= movie.body %>">
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      </button>
    </form>
</div>
