<h3>Movies</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% movies.forEach(function(movie){%>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.title %></td>
        <td>
          <form action="/movies/delete/<%= movie.id %>" method="post">
            <button class="btn waves-effect waves-light" type="submit" name="action">
              Delete
            </button>
          </form>
        </td>
      </tr>
    <%})%>
  </tbody>
</table>
